body{
    background-color: black;
    text-align: center;
    font-family: 'Merriweather', serif;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: aqua;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: aqua;
}

.fir{
    
    
    
        
}
.top-cloud{
    padding-top: 100px;
    
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: 200px;
}
.bottom-cloud{
    height: 100px;
    width: 100px;
    position: relative;
    margin-bottom: 600px;
    margin-right: 300px;

}
